:root {
    --c-primary: lightcoral;
    --c-secondary: cornflowerblue;
    --c-darkest: #222222;
    --c-lightest: #ffffff;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.6rem 2.4rem;
    border-bottom: .1rem solid var(--c-primary);
}

.site-logo {
    color: var(--c-primary);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.card__total {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 1rem;
}

main {
    padding: 0 4rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.card__button {
    border-radius: 8rem;
    padding: 1.2rem;
    color: var(--c-lightest);
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 0;
    margin-right: 1rem;
    background: linear-gradient(90deg, var(--c-primary), var(--c-secondary));
    cursor: pointer;
}

.card__bar {
    margin-top: 1rem;
    display: block;
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 1.2rem;
    background: var(--c-primary);
    overflow: hidden;
    margin: 2rem 0 5rem;
}

.card__bar-progress {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 50%;
    background: var(--c-secondary);
    transition: all .4s ease-in-out;


}